@import "../../../../../../assets/constants.module.scss";

.default {
  border: $color_blue 2px solid;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  background-color: $color_bright_green;
}

.grey {
  background-color: $color_grey;
}
