$color_blue: #003554;
$color_bright_green: #0da530;
$color_blue_light: #3399ff;
$color_green: #679289;
$color_red: red;
$color_grey: #5e5f5e;
$color_blue_secondary: #8bc2e2;

$font_source_sans_pro: "Source Sans Pro", sans-serif;
